body{
	background-color: #EEF0F1;
	font-family: "proxima-nova",sans-serif;
	font-size: 13px;
}


.top-bar-section .has-dropdown>a.circular {
	background: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);

}

.circle-lg {
	width: 124px;
	height: 124px;
	background: url(http://placehold.it/124x124);
}
.top-bar-section .has-dropdown>a.circle-xs {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(http://placehold.it/32x32);
}
.circle-top-bar {
	margin: 20px 25px;
}
.feed-circle {

}
.top-bar {
	height: 75px;
}	
.top-bar .name h1 a, .top-bar li a  {
	line-height: 75px!important;
}
.top-bar-section li a{
	padding: 0 25px!important;
	color: #000!important;
	font-family: "proxima-nova",sans-serif!important;
	font-size: 13px;
	text-transform: uppercase!important;
	font-weight: normal;
}
.top-bar-section li a:hover{
	color: #f1503e!important;
}
.top-bar .left {
	margin-left: 75px;
}
.top-bar .icon-search {
	color: #8D9396;
}
.roadtrip {
	width: 170px;
	border-right: 1px solid #EEF0F1;
	border-left:  1px solid #EEF0F1;
}
.contain-to-grid, .top-bar,  .top-bar-section li a, .top-bar-section ul {
	background-color: #fff!important;
}
.white-bg {
	background: #fff!important;	
}
.red-bg {
	background-color: #FF4C20;
}

.logo{
	width: 110px;
}
.icon-plus-circle {
	padding: 4px;
	border: 2px solid;
	font-size: 9px;
	border-radius: 50px;
	position: relative;
	top: -1px;
}

/*  
Feed
.feed {
   font-family: "proxima-nova", sans-serif;
   font-size: 0.8125rem;
   display: inline-block;
   background-color: #ffffff;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
} */
    
.profile-data icons span {
	margin-right: 15px;
}
.icons span {
	display: inline-block;
	margin-right: 12px;
	margin-top: 10px;

}
.seperator {
  padding-top: 10px;
}
.edit-button {
margin-top: 45px;
}

.top-bar-border {
	border-bottom: 1px solid #EEF0F1;
}
.profile-bar {
	padding-top: 40px;
	height: 200px;
}
/*.cols-wrapper {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 15px;
	column-fill: auto;
}
*/

