/*
  Icon Font: roadmojo
*/

@font-face {
  font-family: "roadmojo";
  src: url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.eot");
  src: url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.eot?#iefix") format("embedded-opentype"),
       url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.woff") format("woff"),
       url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.ttf") format("truetype"),
       url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.svg#roadmojo") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "roadmojo";
    src: url("fonts/roadmojo_74dfce68aed427d2e6210420e8e4935e.svg#roadmojo") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-activity:before,
.icon-comment:before,
.icon-cross-popup:before,
.icon-cross-unfollow:before,
.icon-delete:before,
.icon-drafts-cloud:before,
.icon-edit:before,
.icon-facebook:before,
.icon-facebook-tab:before,
.icon-following:before,
.icon-google-plus:before,
.icon-help:before,
.icon-invite:before,
.icon-like:before,
.icon-logo:before,
.icon-minus:before,
.icon-new-roadtrip:before,
.icon-places:before,
.icon-plus:before,
.icon-roadtrips:before,
.icon-search-close:before,
.icon-search-default:before,
.icon-search-onclick:before,
.icon-social-globe-website:before,
.icon-suggested:before,
.icon-tick-following:before,
.icon-tick-popup:before,
.icon-twitter:before,
.icon-twitter-tab:before {
  display: inline-block;
  font-family: "roadmojo";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-activity:before { content: "\f111"; }
.icon-comment:before { content: "\f114"; }
.icon-cross-popup:before { content: "\f115"; }
.icon-cross-unfollow:before { content: "\f104"; }
.icon-delete:before { content: "\f105"; }
.icon-drafts-cloud:before { content: "\f106"; }
.icon-edit:before { content: "\f107"; }
.icon-facebook:before { content: "\f108"; }
.icon-facebook-tab:before { content: "\f116"; }
.icon-following:before { content: "\f109"; }
.icon-google-plus:before { content: "\f117"; }
.icon-help:before { content: "\f118"; }
.icon-invite:before { content: "\f10a"; }
.icon-like:before { content: "\f119"; }
.icon-logo:before { content: "\f11a"; }
.icon-minus:before { content: "\f11b"; }
.icon-new-roadtrip:before { content: "\f11c"; }
.icon-places:before { content: "\f10b"; }
.icon-plus:before { content: "\f11d"; }
.icon-roadtrips:before { content: "\f113"; }
.icon-search-close:before { content: "\f11e"; }
.icon-search-default:before { content: "\f11f"; }
.icon-search-onclick:before { content: "\f120"; }
.icon-social-globe-website:before { content: "\f10c"; }
.icon-suggested:before { content: "\f10d"; }
.icon-tick-following:before { content: "\f10e"; }
.icon-tick-popup:before { content: "\f121"; }
.icon-twitter:before { content: "\f110"; }
.icon-twitter-tab:before { content: "\f122"; }
