// basic colors
$dark-color: black;

/*Black*/
$light-color-1: #b1b6b9;

/*Light Grey*/
$light-color-2: #8c8e92;

/*Dark Grey*/
$links-color: #00ac66;

/*Green*/
$nav-color: #f2472e;

/*Orange*/
$border-color: #eef0f1;

/*Grey*/
$red-color: #ff3100;

/* twitter  */
$twitter-color: #00ACE2;

/* facebook color */
$facebook-color: #2E5B9B;

/* search page colors */
$search-list-light: #7a7a7a;
// fonts
$font-base: "proxima-nova", Arial, sans-serif;
$font-lg: "freight-sans-pro", sans-serif;

/* form padding gutter */
$form-padding-gutter: rem-calc(32);
// label child 
$label-child-margin-top : rem-calc(10);

// Mixins
@mixin border-radius($radius) {
    -webkit-border-radius: rem-calc($radius);
    -moz-border-radius: rem-calc($radius);
    -ms-border-radius: rem-calc($radius);
    border-radius: rem-calc($radius);
}

 @mixin placeholder-style($font, $font-size, $color)
  {
    &::-webkit-input-placeholder {
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
    }
    &:-ms-input-placeholder {
        font-family: $font;
        font-size: rem-calc($font-size);
        color: $color;
    }
  } 
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

// Utilities
.hidden {
    display: none;
}
.link-text {
    color: $dark-color;
    border-bottom: 1px solid #b1b6b9;
    &:hover {
        border-bottom: 1px solid $links-color;
    }
}

/* padding */
.padding-top-30 {
    padding-top: rem-calc(30);
}
.padding-bottom-30 {
    padding-bottom: rem-calc(30);
}
.padding-30 {
    padding: rem-calc(30);
}

.no-padding-right {
    padding-right: 0;
}
.no-padding-left {
    padding-left: 0;

}
/* margin */
.no-margin-bottom {
    margin-bottom: 0;
}
.margin-bottom-30 {
    margin-bottom: rem-calc(30);
}
.margin-botton-15 {
    margin-bottom: rem-calc(15);
}
.dark-bg {
    background-color: $dark-color;
}

.nav-bg {
    background-color: $nav-color;
}

.links-bg {
    background-color: $links-color;
}

.white-bg {
    background-color: #ffffff;
}

.dark-text {
    color: $dark-color;
}

.link-text {
    color: $links-color;
}

.nav-text {
    color: $nav-color;
}

.light-2-text {
    color: $light-color-2;
}

.twitter-color {
  color: $twitter-color;
}
.fb-color {
  color: $facebook-color;
}

/* seperator */
.seperator-10 {
    padding-bottom: rem-calc(10);
}
.seperator-20 {
    padding-bottom: rem-calc(20);
}
.sep-line {
    padding-right:rem-calc(15);
    padding-left: rem-calc(15);
    border-bottom: 1px solid #ededed;
    margin: 0;
    &.margin {
        margin: 0 rem-calc(32.5) 0 rem-calc(42);
    }
    &.w-93 {
        width: 93%;
        margin: 0 auto;
    }
}


[class^="icon-"], [class*=" icon-"] {
    // position: relative;
    // top: 2px;
}





.badge {
    min-width: 10px;
    padding: 3px 7px;
    font-size: rem-calc(12);
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    @include border-radius(10);
}

.circular {
    background: {
        color: #000000;
        position: 50% 50%;
        repeat: no-repeat;
        size: contain;
    };
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

/****search****/
.place-search {
    background: url(../images/search-onclick.svg) no-repeat 98% 50%;
    padding-right: rem-calc(40);
}

input[type="search"] {
    box-shadow: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}
 
input[type="search"]:focus {
    box-shadow: none;
    background: url(../images/search-onclick.svg) white no-repeat 98% 50%;
    border: 1px solid #909090;
}

input[type="email"]:focus, input[type="password"]:focus {
   box-shadow: none;
}
textarea {
    padding: rem-calc(15) rem-calc(10);
    &:focus {
        box-shadow:none;
    }
}

select {
    @include border-radius(3);
}
textarea {
    @include border-radius(3);
}
input {
    box-shadow: none!important;
    border-radius: 0!important;
    @include border-radius(3);
    &::-webkit-input-placeholder {
        font-family: $font-base;
        font-size: 13px;
    }
    &:-moz-placeholder {
        /* Firefox 18- */
        font-family: $font-base;
        font-size: 13px;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        font-family: $font-base;
        font-size: 13px;
    }
    &:-ms-input-placeholder {
        font-family: $font-base;
        font-size: 13px;
    }
}

label {
    font-family: $font-base;
    font-weight: bold;
    color: $dark-color;
    font-size: rem-calc(16);
    select {
        margin-top: $label-child-margin-top;
        background-color: #fff;
        box-shadow: none;
        margin-bottom: 0;
        &:focus {
            box-shadow: none;
        }
    }
    input {
        margin-top: $label-child-margin-top;   
        background-color: #fff;
        box-shadow: none;
        margin-bottom: 0;
        &:focus {
            box-shadow: none;
        }
    }
    input[type="text"] {
        margin-top: $label-child-margin-top;      
        background-color: #fff;
        box-shadow: none;
        margin-bottom: 0;
        &:focus {
            box-shadow: none;
        }
    }
    textarea {
        margin-top: $label-child-margin-top;
        resize: none;
        background-color: #fff; 
        box-shadow: none;
        margin-bottom: 0;
        &:focus {
            box-shadow: none;
        }
    }

}
/****Icon moon***/
.icon-sm {
    font-size: rem-calc(15);
}

.icon-xs {
    font-size: rem-calc(12);
    top: 0;
}

/****font-colors****/
.text-red {
    color: $red-color;
}

/****Buttons****/
.semi-bold {
    font-family: $font-base;
    font-weight: 600;
    font-size: 13px;
}
.button.tiny {
    &.tiny-ex {
        @extend .semi-bold; 
        
        [class^="icon-"], [class*=" icon-"] {
            font-size: rem-calc(9);      
        }
    }
    &.button-following {
        @extend .tiny-ex;
        min-height: rem-calc(28);
        min-width: rem-calc(95);
    }
    &.button-unfollow {
        @extend .tiny-ex;
        min-height: rem-calc(28);
        min-width: rem-calc(95);
    }
    &.button-follow {
        @extend .tiny-ex;
        min-height: rem-calc(28);
        min-width: rem-calc(95);
    }
    &.button-fb {
        @extend .tiny-ex;
        background-color: $facebook-color;
        padding: rem-calc(8) rem-calc(18);
        span {
            font-size: rem-calc(18);
        }
    }
}

.button-following {
    background-color: #F9F9F9;
    color: #ABB2B6;
    &:hover {
        background-color: #ECE8E5;
        color: #000;
    }
}

.button-unfollow {
    background-color: #F9F9F9;
    color: #ABB2B6;
    &:hover {
        background-color: #ECE8E5;
        color: #000;
    }
}

.button-follow {}

.button-edit:hover, .button-edit:focus {
    background-color: #00c977;
}

.button-delete {
    background-color: $dark-color;
    padding: 5px 10px !important;
    margin-left: 3px;
    &:hover, &:focus {
        @extend .nav-bg;
    }
    [class^="icon-"], [class*=" icon-"] {
        top: 0;
    }
}

button, .button {
    padding: 9px 20px;
}

button.tiny, .button.tiny {
    padding: 5px 12px;
    font-size: rem-calc(13);
}

.button-default {
  background-color: #f6f6f6;
  color: #000000;
  font-family: $font-base;
  font-size: rem-calc(14);
  color: #a4a4a4;
  &:hover {
    background-color: #eef0f1;
    color: #000000;
  }
  &.active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    color: #000000;
    background-color: #eef0f1;
  }
}
.button-group {

  >  .button {
    &.button-default {
      border-right: 0;
      border: 1px solid #d0d0d0;  
    }
    &:last-child{
      border-right: 1px solid #d0d0d0;  
    }
    
  }
}
/* radio toggle */
.button {
  input[type="radio"] {
    display: none;
  }

}

/* help block */
.help-block {
    padding: rem-calc(11) 0 0 0;
    color: #b1b6b9;
    font-family: arial;
    font-size: rem-calc(11);
    font-weight: normal;
}

/* left column content wrapper  */
.content-left-wrapper {
    background-color: #fff;
    padding: rem-calc(20) rem-calc(25);
    line-height: rem-calc(15);
    margin-bottom: rem-calc(35);
    
    .padding-right {
        padding-right: $form-padding-gutter;
    }
    .padding-left {
        padding-left: $form-padding-gutter;
    }

    h1 {
        font-family: $font-base;
        font-weight: bold;
        font-size: rem-calc(24);
    }
    .form-group {
        margin-bottom: rem-calc(40);
    }
    .sub-heading {
        font-family: $font-base;
        font-size: rem-calc(18);
        font-weight: normal;
    }
    .profile-data {
        .profile-heading {
            font-family: $font-base;
            font-size: rem-calc(16);
            font-weight: bold;
        }
    }
}

/****Nav Bar - Top****/
.top-bar-container {
    border-bottom: 1px solid $border-color;
}

.top-bar {
    .title-area {
        img {
            max-width: rem-calc(150);
        }
    }
    .top-bar-section {
        .has-dropdown {
            > a {
                padding: 0 rem-calc(25)!important;
                &:after {
                    margin-right: rem-calc(6);
                    border: inset 4px;
                    border-top-style: solid;
                    border-color: #363636 transparent transparent transparent;
                    top: 50%!important;
                }
            }
        }
        .icon-search-default {
            color: #868C8F;
        }

        .has-dropdown {
            &.new-roadtrip {
                
                > a:after {
                    display: none;
                }
            }
        }
        &:not(.has-form) {
            a:not(.button) {
                line-height: rem-calc(74);
            }
        }
        ul {
            li {
                &:hover {
                    > a {
                        color: $links-color;
                    }
                }
                a {
                    &:hover {
                        @extend .nav-text;
                    }
                    &.active {
                        color: $nav-color;
                    }
                }
                .dropdown-trigger:hover {
                    background-color: #fbfbfb;
                }
            }
            .icon-search {
                font-size: rem-calc(15);
            }
            .new-roadtrip {
                a {
                    &:hover {
                        @extend .link-text;
                        background-color: #fbfbfb;
                    }
                }
                .dropdown {
                    a {
                        text-align: left;
                    }
                }
                .icon-new-roadtrip {
                    font-size: rem-calc(15);
                    position: relative;
                    top: 1px;
                }
            }
            .account-img {
                @extend .circular;
                height: 32px;
                width: 32px;
                background-image: url(profile_pic.jpg);
                float: left;
                position: relative;
                margin-top: 22px;
                left: 8px;
            }
        }
        .dropdown {
            // margin-top: 2px;
            border-top: 1px solid #eef0f1;
            a:not(.button) {
                padding: 0 23px;
                line-height: 35px;
                border-right: 1px solid #eef0f1;
                border-left: 1px solid #eef0f1;
                border-bottom: 1px solid #eef0f1;
                text-align: right;
            }
            li:hover:not(.has-form) > a:not(.button) {
                color: $links-color;
            }
        }
    }
    .left {
        margin-left: rem-calc(28);
    }
    .icon-search {
        color: #8d9396;
    }
    .new-roadtrip {
        border: {
            right: 1px solid $border-color;
            left: 1px solid $border-color;
        };
    }
}

/****Profile View page****/

// User Profile Details
.profile-data {
    display: table;
    padding: rem-calc(30) 0;
    

    font: {
        family: $font-lg;
        weight: 400;
        style: normal;
    };
    .icons {
        a {
            color: #000000;
        }
    }
    .name {
        font-size: rem-calc(32);
        font-weight: 600;
    }
    .desc {
        font-size: rem-calc(18);
    }
    .bio {
        font-family: $font-base;
        font-size: rem-calc(13);
        color: $light-color-1;
    }
    .icons {
        margin-top: 10px;
        span {
            margin-right: 15px;
            font-size: rem-calc(17);
        }
        .icon-twitter {
            top: 4px !important;
        }
    }
    * {
        margin-bottom: 0px;
    }
    .user-photo {
        @extend .circular;
        height: 124px;
        width: 124px;
        background-image: url(../images/profile_pic.jpg);
    }
    .edit-profile-wrapper {
        float: none!important;
        display: table-cell;
        vertical-align: middle;
    }

}

/* profile settings */
.profile-settings {
  .content-2 {
    margin: rem-calc(32) 0 0 0 ;
    .button-group{
      margin-top: rem-calc(16);
    }
  }
  .settings-rows {    
    .row {
      padding-bottom: rem-calc(20);
      padding-top: rem-calc(20);
      margin: 0 0.625rem;
    }
    .sep-line {
      margin: 0 0.625rem;
    }
  }
}
// Feed
.feed-sidebar {
  .section {
    padding: rem-calc(15);
    border-bottom: 1px solid #eeeaea;
    background-color: #F9F9F9;
    .section-heading {
      color: $dark-color;
      font-family: $font-base;
      font-size: rem-calc(12);
      font-weight: bold;
      margin-bottom: rem-calc(15);
      .right {
        span {
          color: #8c8e92;
          cursor: pointer;
          &:hover {
            color: $dark-color;
          }
        }
      }
    }
    ul {
      margin-bottom: 0;
      &.inner-section-padding {
        padding-top: rem-calc(20);
      }
      li {
        list-style: none;
        line-height: rem-calc(19);
        color: #8c8e92;


        a {
          color: #8c8e92;
          font-family: $font-base;
          font-size: 13px;
          &.active, &:active, &:focus {
            border-bottom: 1px solid #e0e2e4;
          }
          &:hover {
            color: #00ac66;
          }
          .bull {
            vertical-align: bottom;
          }
          .icon-plus {
            font-size: 8px;
            top: -1px;
          }
        }
      }
    }
  }
}
.feed {
    //display: block;
    //width: rem-calc(420);
    @include calc(width, "50% - 9px");
    //min-width: rem-calc(240);
    //max-width: rem-calc(520);
    padding: 0;
    background-color: #ffffff;
    //margin: 0 10px 15px 5px;
    //float: left;
    margin-bottom: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    .head {
        width: 100%;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        font-size: rem-calc(13);
        font-weight: bold;
        .user-photo {
            @extend .circular;
            height: 32px;
            width: 32px;
            // background-image: url(http://www.wallsave.com/wallpapers/800x600/people-face/305295/people-face-faces-x-actors-305295.jpg);
            position: relative;
            margin: 15px 10px 0 0;
        }
    }
    .content {
        width: 100%;
        padding: 15px;
        font-size: rem-calc(13);
    }
    .views {
        color: $light-color-1;
        font-size: rem-calc(12);
        font-weight: normal;
    }
    .photo {
        width: 100%;
        /*height: rem-calc(300);*/
        overflow: hidden;
        position: relative;
        &:hover, &:hover .overlay {
            display: block;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
            button, .button {
                margin-bottom: 0;
            }
        }
    }
    .content {
        .trip-title {
            line-height: 1.2;
            font: {
                family: $font-lg;
                size: rem-calc(24);
            };
        }
        p {
            margin: rem-calc(14) 0 0 0;
            font-size: rem-calc(13);
            color: $light-color-2;
            line-height: 1.5;
        }
    }
    .separator {
        padding: 0 15px;
        hr {
            border-color: #ededed;
            border-width: 1px 0 0;
            margin: 0;
        }
    }
    .foot {
        width: 100%;
        padding: 15px;
        color: $light-color-1;
        font-size: rem-calc(13);
        .like {
            cursor: pointer;
            &:hover {
                @extend .nav-text;
            }
        }
        .comment {
            cursor: pointer;
            margin-left: 5px;
            &:hover {
                color: $dark-color;
            }
        }
    }
}

// Tabs
.tabs {
    dd {
        a {
            font-size: rem-calc(14);
        }
    }
    &.tabs-inner {
      background-color: #F9F9F9;
      dd {
        color: $dark-color;
        border-bottom: none;
        a {
          background-color: #f9f9f9;
          color: $light-color-1;
          font-size: rem-calc(14);
          padding: rem-calc(8) rem-calc(26);
          text-align: center;
          .icon {
            font-size: rem-calc(19);

          }
        }
        &.active {
          a {
            color: $dark-color;
            background-color: white;
          }
        }
        &.hover {
          color: $dark-color;
        }
      }
    }
    dd {
        border-bottom: 1px solid #eeeaea;
        border-right: 1px solid #eeeaea;
        &.active {
            a {
                color: #00ac66;
                .menu-hover-bottom {
                    opacity: 1;
                }
            }
        }
    }
    dd:last-child {
        border-right: none;
    }
    a {
        position: relative;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        &:hover {
            color: #00ac66;
        }
        &:hover .menu-hover-bottom {
            opacity: 1;
        }
        &:hover .menu-hover-right {
            opacity: 1;
        }
        .menu-hover-bottom {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            background-color: #00ac66;
            opacity: 0;
            left: 0;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
        }
    }
    &.even-2 {
        dd {
            width: 50%;
        }
    }
    &.even-3 {
        dd {
            width: 33.333%;
        }
    }
    &.even-4 {
      dd {
        width: 25%;
      }
    }
}

// Tabs -content
.no-js {
  .tabs-content {
    > .content {
      display: none;
    }
  }
}
.no-js {
  .tabs-content {
    > .content {
      &.active {
        display: block;
      }
    }
  }
}
.tabs-content {
    background-color: #fff;
    .content {
        //facebook section
        .section-facebook {
          text-align: center;
          margin: 20px;
          height: 350px;
          &:before {
            content: '';
            display: inline-block;
            height: 100%; 
            vertical-align: middle;
            margin-right: -0.25em; 
          }
         .section-facebook-inner {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 15px;
            line-height: 1.5;
          }

          
      }
        //invite section for content
        &.invite {
            .section-mail {
                padding: rem-calc(35) rem-calc(30);
                input {
                    margin: 0;
                }
                .email-address {
                    line-height: 1.5;
                }
            }
            .section-message {
                padding: rem-calc(35) rem-calc(85);
                background-color: #F9F9F9;
                .message-heading {
                    font-weight: bold;
                }
                .message-content {
                    line-height: rem-calc(24);
                }
                textarea {
                    background-color: white;
                }
                .personal-message {
                    overflow: hidden;
                }
            }
        }
        .content-wrapper {
            padding: 20px 15px;
            border-bottom: 1px solid #eeeaea;
            &.following-people {
                font-family: $font-base;
                font-size: rem-calc(13);
                > div {
                    line-height: rem-calc(18);
                }
                .following-people-details {
                    display: inline-block;
                    width: 80%;
                    .following-people-name {
                        font-weight: bold;
                    }
                    .following-people-desc {
                        color: #8c8e92;
                        font-weight: normal;
                    }
                    .following-people-info {
                        color: $light-color-1;
                        font-weight: normal;
                        span:after {
                            content: ", ";
                        }
                        span:last-child:after {
                            content: "";
                        }
                    }
                }
                .user-photo {
                    @extend .circular;
                    height: 50px;
                    width: 50px;
                    background-image: url(../images/profile_pic.jpg);
                }
            }
            &.place-search {
                &:hover {
                    background-color: #fff;
                }
            }
            &.search-further {
                background-color: #F9F9F9;
                .search-further-text, .more-suggestion-text {
                    font-family: $font-base;
                    font-size: 13px;
                    color: $light-color-1;
                    line-height: rem-calc(0);
                }
            }
            &.following-place-info {
                .following-place-info-text {
                    text-align: center;
                    padding: rem-calc(17) rem-calc(68);
                }
            }
            &:hover {
                background-color: #f9f9f9;
            }
        }
        input[type="search"] {
            margin: rem-calc(0);
        }
        p {
            margin-bottom: rem-calc(3);
            line-height: rem-calc(18);
        }
        .place {
            display: inline-block;
            width: 80%;
            .place-title {
                font-family: $font-base;
                font-size: 16px;
                font-weight: bold;
            }
            .place-info {
                font-family: $font-base;
                font-size: 13px;
                color: $light-color-1;
                span:after {
                    content: ", ";
                }
                span:last-child:after {
                    content: "";
                }
            }
        }
    }
}



// Tabs - Side Nav
aside.tabs {
    width: 282px;
    hr {
        border: {
            color: #eeeaea;
            width: 1px 0 0;
        };
        margin: 0;
    }
    .tab {
        display: block;
        background-color: #f9f9f9;
        color: #89949a;
        padding: 13px 15px;
        font: {
            size: rem-calc(13);
            weight: bold;
        };
        &:hover {
            color: #89949a;
            background-color: #ffffff;
        }
        &:focus, &:focus .icon {
            @extend .current;
        }
        .badge {
            line-height: rem-calc(15);
        }
        .icon {
            color: #c7ccd3;
        }
        .gt {
            font-family: proxima-nova;
            font-weight: normal;
            font-size: rem-calc(9);
            padding-left: rem-calc(2);
        }
    }
    .tab.normal {
        font-weight: normal !important;
    }
    .current, .current .icon {
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .profile-pics {
        img {
            display: block;
            float: left;
            width: 47px;
            height: 47px;
        }
        .more {
            display: block;
            width: 47px;
            height: 47px;
            line-height: 47px;
            font-weight: bold;
            background-color: $links-color;
            color: #ffffff;
            font-size: rem-calc(13);
        }
    }
    .subhead {
        display: block;
        color: $dark-color;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        margin: 0;
    }
}

// Delete confirmation modal
#confirmDeleteModal {
    .content {
        padding: rem-calc(30);
        h4 {
            font: {
                family: $font-base;
                font-weight: 600;
            };
            span {
                color: #878787;
            }
        }
        p {
            font: {
                family: $font-base;
                font-weight: 700;
            };
            margin: 0;
        }
    }
    button {
        margin: 0;
        width: 50%;
        float: left;
        font-weight: bold;
        &:first-child {
            @extend .dark-bg;
        }
        &:last-child {
            @extend .nav-bg;
        }
    }
}
div {
    &.switch {
        &.small {
            label {
              line-height: rem-calc(27);
                &.on {
                    color: #fff;
                }
                &.off {
                  // background-color: #E7E7E7;
                }
            }
        }
    }    
}
/* search page */
.search-wrapper {
    background-color: rgba(black, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 75px;
   .search-container  {
        padding: 0 rem-calc(25);
   }
    .sep-line {
        border: 1px solid #454545;
    }
  @media screen and(max-width: 1270px) {
    .search-heading {
        padding-left: rem-calc(25);
        padding-right: rem-calc(25);
    }
  }
  .search-heading {
    background-color: black;
  }
  .content-wrapper {
    padding: rem-calc(15) 0;
    border-bottom: 1px solid #454545;
    .content-inner-wrapper {
        padding: rem-calc(10) 0;
    }
    .tiny-ex {
        margin-bottom: 0;
    }
  }
  .search-place-result {
    color: #ffffff;
    font-family: $font-base;
    font-size: rem-calc(18);
    &:hover {
        color: $nav-color;
    }
  }
  .search-place-result-by {
    font-size: rem-calc(18);
    color: $search-list-light;
  }
  .roadtrip-view-link {
    font-family: $font-base;
    font-size: rem-calc(13);
    font-weight: normal;
    color: $search-list-light;
    &:hover {
        color: $nav-color;
    }
  }
  .place-info {
    color: $search-list-light;
    &.right {
        margin-right: rem-calc(15);
        padding-top: rem-calc(5);
    }
  }
  .place-search {
    background: url(../images/search-onclick-red.svg) no-repeat 98% 50%;
    background-size: 20px;
    padding: rem-calc(30) 0;
    margin: 0;
    height: auto;
    font-size: rem-calc(24);
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;
    &:hover, &:focus {
      background-color: transparent;
      
    }
    &:focus {
      border: #909090; 
      background-size: 20px !important;
      background: url(../images/search-onclick-red.svg) no-repeat 98% 50% ;
    }
    @include placeholder-style($font-base, 24, $search-list-light);
  }
}
/* explore page  */
.explore-wrapper {
    background-color: #F9F9F9;
    .explore-area-heading-wrapper {
        position: relative;
        padding: rem-calc(25) 0;
        .button{
            position: absolute;
            top: 40px;
            right: 0;
        }
    }
    .explore-area-heading {
        font-family: $font-lg;
        font-size: rem-calc(36);
        font-weight: 600;

    }
}

.col-trending {

    .sub-heading {
        padding: rem-calc(40) 0 rem-calc(30) rem-calc(10);
        font-family: $font-base;
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: bold;
    }
}
.col-recent {
    @extend .col-trending;
    .sub-heading {
        padding: rem-calc(40) 0 rem-calc(30) 0;
        font-family: $font-base;
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: bold;
    }
}
.footer-section-1 {
    margin-top: rem-calc(15);
    margin-bottom: rem-calc(70);
    .footer-section-heading {
        font-family: $font-base;
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: bold;
    }
    .footer-content {
        margin-top: rem-calc(25);
        &.social-links {
            span {
                color: #a2a2a2;
                margin-left: rem-calc(35);
                font-size: rem-calc(18);
                &:hover {
                    color: #000000;
                }
            }

        }
    }
    .tag {
        font-family: $font-base;
        background-color: #efefef;
        color: #8c8e92;
        font-size: rem-calc(13);
        margin-right: rem-calc(6);
        margin-bottom: rem-calc(8);
        &:hover {
          color: #000000;
          background-color: #ffffff;
        }
    }
}
.footer-explore-area {
    background-image: url("explore_featured.jpg");
    height: 470px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 0;

    .overlay {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.55);
        z-index: -1;
    }
    &:before {
        content: '';
        vertical-align: middle;
        height: 100%;
        display: inline-block;
        margin-left: -0.25em;
    }
    .footer-explore-area-heading {
        color: white;
        font-family: $font-base;
        font-size: rem-calc(13);
        margin-bottom: rem-calc(15);
        span {
            font-weight: bold;
        }
    }
    .footer-explore-area-info {
        vertical-align: middle;
        display: inline-block;
        .button {
            font-family: $font-base;
            font-size: rem-calc(16);
            font-weight: bold;
        }
        .sep-line {
            margin: 0 rem-calc(100);
            border-bottom: 1px solid rgba(237, 237, 237, 0.61)!important;
        }

        .info {
            font-family: $font-lg;
            font-size: rem-calc(48);
            font-weight: normal;
            color: white;
            margin-top: rem-calc(28);
            margin-bottom: rem-calc(28);
        }
        .count {
            font-weight: 600;
        }
    }
}
/* modals */
.reveal-modal {
    button {
        i {
            margin-right: rem-calc(6);
        }
    }
}
